@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');

body {
	box-sizing: border-box;
	font-family: 'Alata', sans-serif;
	background-color: #ebecf1;
	color: #1b1c25;
	margin: 0;
	padding: 100px;
	max-width: 800px;
	margin: 0 auto;
}

main {
	position: relative;
	margin-bottom: 100px;
}

p {
	text-align: justify;
}

hr {
	height: 2px;
	width: 100%;
	border: none;
	background-color: #1b1c25;
}

.scroll-progress {
	position: fixed;
	top: 0; 
	left: 0;
	width: 0;
	display: flex;
	min-height: 10px;
	justify-content: flex-end;
	align-item: center;
	background-color: #1b1c25;
	transition: width 200ms ease, opacity 200ms ease;
	z-index: 10;
}

.scroll-progress-percentage {
	display: block;
	padding: 5px 10px;
	color: #ebecf1;
}

#scroll-progress-1 {
	background-color: #e11d74;
	border-radius: 0 5px 5px 0;
}

#scroll-progress-2 {
	background-color: #17b978;
	top: auto;
	bottom: 0;
	border-radius: 0 15px 15px 0;
	transition: width 500ms ease, opacity 200ms ease;
}

#scroll-progress-3 {
	background-color: #00bcd4;
	position: absolute;
	top: 0;
	left: -25px;
	width: 10px;
	min-height: 20px;
	border-radius: 15px;
	transition: height 200ms ease, opacity 200ms ease;
	align-items: flex-end;
	z-index: 9;
}

#scroll-progress-3>.scroll-progress-percentage {
	display: block;
	padding: 0 20px;
	color: #1b1c25;
}